<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyy.aigc.mapper.ChatSessionMapper">

    <sql id="Base_Column_List">
        id, session_id, user_id, title, create_time, update_time, creater, updater
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_session (session_id, user_id, create_time, creater, updater)
        VALUES (#{sessionId}, #{userId}, #{createTime}, #{creater}, #{updater})
    </insert>

</mapper>
